<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="hybridSuite">
<listeners>
       <listener class-name="Utilities.testListeners"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestOperations.testRunner"/>
    </classes>
  </test> 
</suite> 
